@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color-scheme: dark;
}

@font-face {
  font-family: Font;
  src: url(./fonts/Archivo.ttf);
}

@font-face {
  font-family: Font2;
  src: url(./fonts/ClashDisplay-Semibold.woff2) format(woff2);
}

body {
  font-family: Font, sans-serif;
  background: #000;
  overflow-x: hidden;
}

@keyframes rotate {
  0%{
    rotate: 0deg;
  }

  100%{
    rotate: 360deg;
  }
}

.animate-spin1 {
  animation: infinite 37s rotate;
}

.font2 {
    font-family: Font2 !important; 
}

.img-hover-zoom {
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform .6s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.2);
}

.transition-2 {
  transition: 0.6s;
}